@{
  Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<div class="container">

<div id = "welcome">
<div class="jumbtron">
<h1>Welcome to the Pierre's Vendor Order Tracker!</h1>
</div>
</div>


<h3><a href='/artist'>View Vendors</a></h3>
<h3><a href='/artist/new'>Add a new Vendor</a></h3>
<h3><a href='/artist/search'>Search for an Vendor</a></h3>



</div>