@{
  Layout = "_Layout";
}
<div class="container">

<div id = "welcome">
<div class="jumbtron">
<h1>Welcome to Pierre's Vendor Solutions!</h1>

</div>

</div>
<div id="picture"class="container">
  <img src ="https://2.bp.blogspot.com/-vhhz2JyTchI/VFhRN-HvHsI/AAAAAAAADGg/mDywM6OUeM4/s1600/Bakery%2BLogos%2B10.jpg">
</div>

<h3><a href='/vendor'>View Vendors</a></h3>
<h3><a href='/vendor/new'>Add a new Vendor</a></h3>
<h3><a href='/vendor/search'>Search for an Vendor</a></h3>



</div>