
<div class="Container">
  <div class="jumbotron">
    <h1>Welcome to the Vendor Tracker</h1>
  </div>
  <h3><a href='/vendor'>View Vendor Page</a></h3>
  
</div>

<h3><a href='/vendor'>View Vendors</a></h3>
<h3><a href='/vendor/new'>Add a new Vendor</a></h3>
<h3><a href='/vendor/search'>Search for an Vendor</a></h3>



</div>