div#footer {
  
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}
body{
  background: rgb(140, 210, 189);
}
div#welcome{
  background:rgb(78, 241, 152);
}
div#greeting{
 
  box-shadow: 0 8px 16px 0 #000000;
  transition: 0.3s;
  border-radius: 5%;
  background: rgb(166, 172, 166);
  padding: 2%;
  margin-bottom: 2%;
}